MSAL_CLIENT_ID=<MSAL_CLIENT_ID>
MSAL_CLIENT_SECRET=<MSAL_CLIENT_SECRET>
MSAL_AUTHORITY=<MSAL_AUTHORITY>

# DOCKER
# REDIRECT_URI=http://localhost:8000/api/auth/callback
# FRONTEND_URI=http://localhost:5173
# DB_HOST=db
# DB_PORT=5432
# DB_NAME=msal_app
# DB_USER=user
# DB_PASSWORD=urubu100

# K8S
REDIRECT_URI=https://msal.local/api/auth/callback
FRONTEND_URI=https://msal.local
DB_HOST=db-service
DB_PORT=5432
DB_NAME=msal_app
DB_USER=user
DB_PASSWORD=urubu100
